.container {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;

  color: var(--white10);

  background-image: linear-gradient(to bottom, var(--gradient-stops));

  --gradient-from: var(--black);
  --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
}

.wrapper {
  display: flex;
  flex-wrap: wrap;

  max-width: 1600px;
  margin: 0 auto;
  padding: 1.25rem 1rem;  
}

.navWrapper {
  display: flex;
  align-items: center;
}

.linkWrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 0.25rem;
}

.logoLink {
  display: flex;
  align-items: center;

  margin-bottom: 1rem /* 16px */;

  font-size: 1rem;
  font-weight: 500;
  color: var(--white10);
}

.link, 
.navLink, 
.usernameBtn {
  outline: none;
  transition: all 330ms ease-in-out;
}

.link:hover,
.link:focus {
  transform: scale(1.1);  
}

.navLink:hover,
.navLink:focus,
.usernameBtn:hover,
.usernameBtn:focus {  
  color: var(--red20);  
}

.activeNavLink {
  color: var(--red20);
  text-decoration: underline;
}

.activeNavLink:hover,
.activeNavLink:focus {
  color: var(--white30);
} 

.nonActiveNavLink {
  color: var(--white10);
  text-decoration: none;
}

.logoWrapper {
  width: 8rem /* 128px */;

  color: var(--red);
}

.navItems {
  display: flex;
  flex-direction: row;
  align-self: center;

  padding: 0;

  font-size: 1rem;
  line-height: 1.25rem /* 20px;; */;
  list-style: none;
}

.navItem {
  margin-right: 0.75rem /* 12px */;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;  
}

.navItem2 {
  cursor: pointer;
}

.authContainer {
  display: flex;
  align-items: flex-start;

  margin-left: auto;
}

.usernameBtn {
  display: flex;
  align-items: center;

  color: var(--white); 

  overflow: hidden;
}

.username {
  font-size: 1rem;
}

.authDropdown {
  position: absolute;

  margin-left: auto;
  margin-top: 0.5rem /* 8px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-right: 0.5rem;

  color: var(--white);

  background-color: var(--black50);
  border-width: 1px;
  border-radius: 0.25rem /* 4px */;
  border-color: var(--blue);

  box-shadow: var(--shadow30, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
    var(--shadow30);
}

.authLink {
  display: block;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;

  font-size: 1rem /* 16px */;
  line-height: 1.25rem /* 20px */;

  border-radius: 0.25rem /* 4px */;
  outline: none;

  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;

  cursor: pointer;
}

.authLink:hover,
.authLink:focus {
  text-decoration: underline;
}

.lineWrapper {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: center;

    padding-left: 4rem /* 64px */;
    padding-right: 4rem /* 64px */;
  }

  .linkWrapper {
    display: flex;
    justify-content: center;

    width: auto;
    margin-bottom: 0;

  }  

  .logoLink {
    margin-bottom: 0px;    
  }

  .logoLink:hover {
    color: blue;
  }

  .navItems {
    align-self: unset;  
   
    padding: unset;    
    margin-left: 3rem /* 48px */;
  
  }

  .navItem {
    margin-right: 1.25rem /* 20px */;
  }
}
