.main {
  margin-top: 6rem /* 96px */;
  padding-bottom: 4rem /* 64px */;
}

.sectionWrapper {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 1.5rem /* 24px */;
  margin-bottom: 1.5rem /* 24px */;
}

.fallbackTitle {
  display: block;
  width: 350px;
  margin: 0 auto;
  margin-top: 300px;

  text-align: center;
}